li{
	list-style: none;
}

.example1{
	height: 235px;
	margin-bottom: 20px;
	border-bottom: 1px solid #e6e6e6;
}
.example1 img{
	float: left;
	width: 30%;
	height: 212px;
}
.text1{
	width: 68%;
	float: left;
}
.text2{
	/* width: 500px; */
}
.continue{
	text-align: center;
	font-size: 20px;
	padding: 10px;
	cursor: pointer;
	float: left;
	margin: 10px;
	background-color: #ff5842;
	width: 180px;
	color: white;
}
.fangxiang{
	cursor: pointer;
	height: 44px;
}
.fangxiang1{
	float: left;
}
.fangxiang2{
	float: right;
}